---
import Contact from "@/components/Contact.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout 
	title="Get in Touch | Jesús Ocanto" 
	description="Interested in working together or have a question? Feel free to reach out for projects, collaborations, or just to say hi."
>
	<main class="px-6 sm:px-0 mb-20">
		<Contact />
	</main>
</Layout>
