---
import Link from "@/components/ui/Link.astro";
---

<footer
	class="flex flex-col sm:flex-row justify-between items-center h-20 w-full py-10 border-t mt-40 mb-10">
	<h3>JESUS OCANTO</h3>
	<span class="text-primary/40"
		>&copy 2026 JESUS OCANTO. ALL RIGHTS RESERVED.</span
	>
	<div class="flex gap-2">
		<Link target="_blank" href="https://github.com/Yisusocanto">Github</Link>
		<Link target="_blank" href="https://www.linkedin.com/in/jesus-ocanto"
			>Linkedin</Link
		>
		<Link target="_blank" href="https://www.instagram.com/yisus_daniel1984"
			>Instagram</Link
		>
	</div>
</footer>
