<section class="w-full pt-10">
	<h1 class="text-7xl md:text-8xl lg:text-display leading-none tracking-tighter uppercase">
		JESUS <br /> OCANTO
	</h1>
	<h2 class="text-3xl md:text-5xl lg:text-display-lg opacity-80 uppercase tracking-tight">
		FULL-STACK <br class="sm:hidden" /> DEVELOPER
	</h2>
</section>
