---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Overview from "@/components/sections/Overview.astro";
import Projects from "@/components/sections/Projects.astro";
import Hero from "@/components/sections/Hero.astro";
import Contact from "@/components/Contact.astro";
---

<Layout title="Home" description="Pagina de inicio">
	<main class="flex flex-col gap-40">
		<Hero />
		<Overview />
		<Projects />
		<Contact />
	</main>
</Layout>
