---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Overview from "@/components/sections/Overview.astro";
import Projects from "@/components/sections/Projects.astro";
import Hero from "@/components/sections/Hero.astro";
import Contact from "@/components/Contact.astro";
---

<Layout 
	title="Jesús Ocanto | Full Stack Developer & Digital Artisan" 
	description="I am a Full Stack Developer specializing in building high-performance web applications with React, Next.js, Astro, and FastAPI. Let's build something amazing together."
>
	<main class="flex flex-col gap-24 md:gap-40 px-6 sm:px-0 mb-20">
		<Hero />
		<Overview />
		<Projects />
		<Contact />
	</main>
</Layout>
