---
import Button from "@/components/ui/Button.astro";
import Link from "@/components/ui/Link.astro";
---

<section class="w-full">
	<h1
		class="text-7xl md:text-8xl lg:text-display-lg mb-12 tracking-tighter uppercase"
		>CONTACT</h1
	>
	<div class="flex flex-col lg:flex-row justify-between gap-16 lg:gap-32">
		<div class="flex flex-1 flex-col gap-12">
			<div>
				<h3 class="text-xs uppercase tracking-widest opacity-60 mb-3"
					>Availability</h3
				>
				<p class="text-2xl font-medium leading-tight"
					>Open to new projects and remote collaborations</p
				>
			</div>
			<div>
				<h3 class="text-xs uppercase tracking-widest opacity-60 mb-3">Email</h3>
				<p class="text-2xl font-medium break-all">yisusocanto1984@gmail.com</p>
			</div>
			<div>
				<h3 class="text-xs uppercase tracking-widest opacity-60 mb-3"
					>Socials</h3
				>
				<div class="flex flex-col gap-4">
					<Link target="_blank" href="https://github.com/Yisusocanto"
						>Github</Link
					>
					<Link target="_blank" href="https://www.linkedin.com/in/jesus-ocanto"
						>Linkedin</Link
					>
					<Link
						target="_blank"
						href="https://www.instagram.com/yisus_daniel1984">Instagram</Link
					>
				</div>
			</div>
		</div>
		<div class="flex-2 w-full">
			<form
				action="https://formspree.io/f/xwvzdeyr"
				method="post"
				class="flex flex-col gap-10">
				<div class="flex flex-col sm:flex-row justify-between gap-10">
					<div class="flex flex-col w-full gap-2">
						<label
							for="name"
							class="text-xs uppercase tracking-widest opacity-60">Name</label
						>
						<input
							type="text"
							placeholder="Your name"
							name="name"
							required
							class="w-full"
						/>
					</div>
					<div class="flex flex-col w-full gap-2">
						<label
							for="email"
							class="text-xs uppercase tracking-widest opacity-60">Email</label
						>
						<input
							type="email"
							placeholder="email@example.com"
							name="email"
							required
							class="w-full"
						/>
					</div>
				</div>
				<div class="flex flex-col gap-2">
					<label
						for="subject"
						class="text-xs uppercase tracking-widest opacity-60">Subject</label
					>
					<input
						type="text"
						placeholder="How can I help you?"
						name="subject"
						required
						class="w-full"
					/>
				</div>
				<div class="flex flex-col gap-2">
					<label
						for="message"
						class="text-xs uppercase tracking-widest opacity-60">Message</label
					>
					<textarea
						placeholder="Tell me about your project..."
						name="message"
						required
						class="h-32 w-full resize-none"></textarea>
				</div>
				<div class="pt-4">
					<Button variant="primary">Send Message</Button>
				</div>
			</form>
		</div>
	</div>
</section>
