---
import Button from "@/components/ui/Button.astro";
import Link from "@/components/ui/Link.astro";
---

<section class="">
	<h1 class="text-display-lg mb-15">CONTACTO</h1>
	<div class="flex flex-col md:flex-row justify-between gap-20">
		<div class="flex flex-1 flex-col gap-10">
			<div>
				<h3 class="mb-2">DISPONIBILIDAD</h3>
				<p class="font-bold text-lg"
					>Abierto a nuevos proyectos y colaboraciones remotas</p
				>
			</div>
			<div>
				<h3 class="mb-2">EMAIL</h3>
				<p class="font-bold text-lg">yisusocanto1984@gmail.com</p>
			</div>
			<div>
				<h3 class="mb-2">REDES</h3>
				<div class="flex flex-col gap-4">
					<Link target="_blank" href="https://github.com/Yisusocanto"
						>Github</Link
					>
					<Link target="_blank" href="https://www.linkedin.com/in/jesus-ocanto"
						>Linkedin</Link
					>
					<Link
						target="_blank"
						href="https://www.instagram.com/yisus_daniel1984">Instagram</Link
					>
				</div>
			</div>
		</div>
		<div class="flex-2 items-center justify-center">
			<form
				action="https://formspree.io/f/xwvzdeyr"
				method="post"
				class="flex flex-col gap-10"
			>
				<div class="flex justify-between gap-16">
					<div class="flex flex-col w-full">
						<label for="name">Nombre</label>
						<input type="text" placeholder="Tu nombre" name="name" required />
					</div>
					<div class="flex flex-col w-full">
						<label for="email">Email</label>
						<input
							type="text"
							placeholder="email@gmail.com"
							name="email"
							required
						/>
					</div>
				</div>
				<div class="flex flex-col">
					<label for="name">Asunto</label>
					<input
						type="text"
						placeholder="En que puedo ayudarte?"
						name="subjet"
						required
					/>
				</div>
				<div class="flex flex-col">
					<label for="name">Mensaje</label>
					<textarea
						placeholder="Cuentame sobre tu proyecto..."
						name="message"
						required
						class="h-20"></textarea>
				</div>
				<Button variant="primary">Enviar mensaje</Button>
			</form>
		</div>
	</div>
</section>
