---
import ThemeToggle from "@/components/ui/ThemeToggle.astro";
import type { Link as LinkType } from "@/types";
import Link from "@/components/ui/Link.astro";

const links: LinkType[] = [
	{ label: "Home", href: "/" },
	{ label: "Projects", href: "/projects" },
	{ label: "About me", href: "/about-me" },
	{ label: "Contact", href: "/contact" },
];
---

<nav
	class="bg-primary/10 rounded-4xl p-2 sm:p-4 w-full h-12 text-xs sm:text-base sm:w-fit flex items-center justify-between gap-1 sm:gap-4">
	{links.map((link) => <Link href={link.href}>{link.label}</Link>)}
	<ThemeToggle />
</nav>
